In [77]:
import numpy as np
import pandas as pd
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm',
'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})

In [78]:
# Some values in the the FlightNumber column are missing. These numbers are meant
# to increase by 10 with each row so 10055 and 10075 need to be put in place. Fill in
# these missing numbers and make the column an integer column (instead of a float
# column).
mask = df['FlightNumber'].isna()
df["FlightNumber"] = np.where(mask, df["FlightNumber"].fillna(method='ffill') + 10, df["FlightNumber"])

df["FlightNumber"] = df["FlightNumber"].astype(int)
print(df["FlightNumber"])

0    10045
1    10055
2    10065
3    10075
4    10085
Name: FlightNumber, dtype: int32

In [79]:
# 2. The From_To column would be better as two separate columns! Split each string on
# the underscore delimiter _ to give a new temporary DataFrame with the correct values.
# Assign the correct column names to this temporary DataFrame.
temp_df = df.From_To.str.split('_', expand=True)
temp_df.columns = ['From', 'To']
print(temp_df)

       From         To
0    LoNDon      paris
1    MAdrid      miLAN
2    londON  StockhOlm
3  Budapest      PaRis
4  Brussels     londOn

In [80]:
# 3. Notice how the capitalisation of the city names is all mixed up in this temporary
# DataFrame. Standardise the strings so that only the first letter is uppercase (e.g.
# "londON" should become "London".)
temp_df['From'] = temp_df['From'].astype(str).str.capitalize()
temp_df['To'] = temp_df['To'].astype(str).str.capitalize()
print(temp_df['From'])
print(temp_df['To'])

0      London
1      Madrid
2      London
3    Budapest
4    Brussels
Name: From, dtype: object
0        Paris
1        Milan
2    Stockholm
3        Paris
4       London
Name: To, dtype: object

In [81]:
# 4. Delete the From_To column from df and attach the temporary DataFrame from the
# previous questions.
temp_df["FlightNumber"]=df["FlightNumber"]
mask1 = temp_df['FlightNumber'].isna()
temp_df["FlightNumber"] = np.where(mask1, temp_df["FlightNumber"].fillna(method='ffill') + 10, temp_df["FlightNumber"])

temp_df["FlightNumber"] = temp_df["FlightNumber"].astype(int)
df = pd.merge(df, temp_df, on ='FlightNumber')
df.drop(['From_To'], axis=1, inplace=True)
print(df)

   FlightNumber  RecentDelays              Airline      From         To
0         10045      [23, 47]               KLM(!)    London      Paris
1         10055            []    <Air France> (12)    Madrid      Milan
2         10065  [24, 43, 87]  (British Airways. )    London  Stockholm
3         10075          [13]       12. Air France  Budapest      Paris
4         10085      [67, 32]          "Swiss Air"  Brussels     London

In [82]:
# 5 In the RecentDelays column, the values have been entered into the DataFrame as a
# list. We would like each first value in its own column, each second value in its own
# column, and so on. If there isn't an Nth value, the value should be NaN.
df[['delay_1','delay_2','delay_3']] = pd.DataFrame(df.RecentDelays.values.tolist())
df.drop(['RecentDelays'], axis=1, inplace=True)
print(df)

   FlightNumber              Airline      From         To  delay_1  delay_2  \
0         10045               KLM(!)    London      Paris     23.0     47.0
1         10055    <Air France> (12)    Madrid      Milan      NaN      NaN
2         10065  (British Airways. )    London  Stockholm     24.0     43.0
3         10075       12. Air France  Budapest      Paris     13.0      NaN
4         10085          "Swiss Air"  Brussels     London     67.0     32.0

   delay_3
0      NaN
1      NaN
2     87.0
3      NaN
4      NaN